## Questions
- How many customers have purchased shoes?
- How many customers have purchased belts?
- How many customers purchased shoes but not belts?
- Which customers have purchases shoes, belts and shirts?

In [58]:
import pandas as pd
from functools import reduce
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
sales = pd.read_csv('./data/sales.csv')
sales.head()
len(sales['Account Number'].unique())
len(sales['Account Name'].unique())
sales.category.unique()
sales.info()

,Account Number,Account Name,sku,category,quantity,unit price,ext price,date
0,803666,Fritsch-Glover,HX-24728,Belt,1,98.98,98.98,2014-09-28 11:56:02
1,64898,O'Conner Inc,LK-02338,Shirt,9,34.80,313.20,2014-04-24 16:51:22
2,423621,Beatty and Sons,ZC-07383,Shirt,12,60.24,722.88,2014-09-17 17:26:22
3,137865,"Gleason, Bogisich and Franecki",QS-76400,Shirt,5,15.25,76.25,2014-01-30 07:34:02
4,435433,Morissette-Heathcote,RU-25060,Shirt,19,51.83,984.77,2014-08-24 06:18:12

725

718

array(['Belt', 'Shirt', 'Shoes'], dtype=object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
Account Number    1000 non-null int64
Account Name      1000 non-null object
sku               1000 non-null object
category          1000 non-null object
quantity          1000 non-null int64
unit price        1000 non-null float64
ext price         1000 non-null float64
date              1000 non-null object
dtypes: float64(2), int64(2), object(4)
memory usage: 62.6+ KB

In [5]:
print('There are', len(sales.loc[sales['category'] == 'Shoes', 'Account Number'].unique()),'customers have purchased shoes.')
print('There are', len(sales.loc[sales['category'] == 'Belt', 'Account Number'].unique()), 'customers have purchased Belt.')

There are 271 customers have purchased shoes.
There are 170 customers have purchased Belt.

In [35]:
shoes = sales.loc[sales['category'] == 'Shoes', 'Account Number'].unique()
len(shoes)
belt = sales.loc[sales['category'] == 'Belt', 'Account Number'].unique()
len(belt)
shirt = sales.loc[sales['category'] == 'Shirt', 'Account Number'].unique()
len(shirt)
not_belt = sales.loc[sales['category'] != 'Belt', 'Account Number'].unique()
len(not_belt)

271

170

442

634

In [34]:
print('There are', len(sales.loc[sales['category'] == 'Shoes', 'Account Number'].unique()) - not_belt.isin(shoes).value_counts()[True], 'purchased shoes but not belt.')

There are 240 purchased shoes but not belt.

In [63]:
# most_valued_customers_number = set(shoes) & set(belt) & set(shirt) # method 1
# most_valued_customers_number = reduce(np.intersect1d, (shoes, belt, shirt)) # method 2
most_valued_customers_number = [x for x in shoes if x in belt and x in shirt] # method 3
print('These are most valued customers cause they purchased all kinds of goods in our shop: ')
customer_names = sales.loc[sales['Account Number'].isin(list(most_valued_customers_number)), 'Account Name'].unique()
for customer_name in customer_names:
    print(customer_name, sep=',')

These are most valued customers cause they purchased all kinds of goods in our shop:
Fritsch-Glover
Upton, Runolfsson and O'Reilly
Kuvalis-Roberts
Mills Inc
Halvorson PLC
Koepp-McLaughlin
Bashirian, Beier and Watsica
Beier-Bosco
Ledner-Kling

In [60]:
# https://pbpython.com/data-analysis-with-sets.html

import csv

f = open("./data/sales.csv")
reader = csv.reader(f)
shoes = set()
belts = set()
shirts = set()
for row in reader:
        customer = (row[0], row[1])
        category = row[3]
        if category == "Shoes":
                shoes.add(customer)
        if category == "Belt":
                belts.add(customer)
        if category == "Shirt":
                shirts.add(customer)
f.close()

print("%s customers have purchased shoes" % len(shoes))
print("%s customers have purchased belts" % len(belts))
print("%s customers have purchased shoes but not belts" % len(shoes - belts))
print("%s customers have purchased shoes and belts" % len(shoes & belts))
print("%s customers have purchases shoes and shirts" % len(shoes & shirts))
print("%s customers have purchased shoes, belts and shirts" % len(shoes & belts & shirts))
print("The following customers are our most valued. They have purchased shoes & belts & shirts:")
for customer in shoes & belts & shirts:
        print(customer)

271 customers have purchased shoes
170 customers have purchased belts
240 customers have purchased shoes but not belts
31 customers have purchased shoes and belts
79 customers have purchases shoes and shirts
9 customers have purchased shoes, belts and shirts
The following customers are our most valued. They have purchased shoes & belts & shirts:
('004450', 'Beier-Bosco')
('151300', "Upton, Runolfsson and O'Reilly")
('803666', 'Fritsch-Glover')
('434955', 'Ledner-Kling')
('041711', 'Koepp-McLaughlin')
('727064', 'Bashirian, Beier and Watsica')
('343481', 'Mills Inc')
('527078', 'Kuvalis-Roberts')
('173693', 'Halvorson PLC')